<div class="employeelist">
  <div class="header">
    <div class="header_info">
      <h1 class="header_title">{{ title() }}</h1>
      <p class="header_subtitle">{{ subtitle() }}</p>
    </div>
    @if (showBtn()) {
      <button class="header_btn" (click)="createEmployee()">
        <span class="btn_icon">+</span>
        Add Employee
      </button>
    }
  </div>
  <app-tablebody
    tableTitle="Employee Directory"
    [columns]="columns"
    [data]="Employee"
    mode="employee"
    [showActionLabel]="true"
  />
</div>
